.ui-datepicker {
    width: 30em;
    /*what ever width you want*/
}

text {
    fill: white;
    font: 10px;
}

rect {
    fill: #c4c0c0;
}

.selectable {
    fill: #553e30;
    transform: translate(100, 100) rotate(45 60 60);
}

.nonselectable {
    fill: #c4c0c0;
    pointer-events: none;
}

.click {
    fill: rgb(45, 160, 45);
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-size: 22px;
    line-height: 3;
    text-align: center;
}

.message {
    color: #797575;
    text-align: center;
    font-size: 18px;
}

h1 {
    line-height: 0.5;
}

p {
    line-height: 3.5;
    font-size: 14px;
}

#tablenumber {
    visibility: none;
    display: none;
}

#quantity {
    text-align: center;
}