.ui-datepicker {
    width: 30em;
    /*what ever width you want*/
}

text {
    fill: white;
    font: 10px;
}

rect {
    fill: #c4c0c0;
}

.selectable {
    fill: #494848;
    transform: translate(100, 100) rotate(45 60 60);
}

.nonselectable {
    fill: #c4c0c0;
    pointer-events: none;
}

.click {
    fill: rgb(45, 160, 45);
}