@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:400,500');

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    font-size: 50%;
    background-color: white;
    word-break: keep-all;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Fin Reset */


/*************************************
******* Style général ****************
*************************************/

h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -1pt;
    line-height: 4rem;
    color: #33903A;
}

h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.3pt;
    line-height: 2.5rem;
    color: #33903A !important;
    margin-bottom: 1.8rem;
}

h3 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0pt;
    line-height: 2rem;
    color: #33903A;
    margin-bottom: 1.8rem;
}

p {
    font-family: 'Lato', 'sans-serif';
    color: black;
    font-size: 1.7rem;
    letter-spacing: 0pt;
    line-height: 2.8rem;
}

a {
    font-family: 'Lato', 'sans-serif';
    color: #33903A;
    font-size: 1.7rem;
    letter-spacing: 0pt;
    line-height: 2.8rem;
}


/*************************************
******************* Footer ***********
*************************************/

footer .livraison-container {
    display: flex;
    min-height: 180px;
}

footer .livraison {
    background-image: url('../images/nos_revendeurs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    min-height: 160px;
    padding: 20px 0;
}

footer .livraison article {
    margin: auto;
    border-left: 5px solid #FFF;
    color: #FFF;
}

footer .livraison article p {
    font-size: 2rem;
    font-weight: 300;
    color: #FFF;
    margin: 0px 0px 23px 0px;
}

footer .livraison article h1 {
    color: #FFF;
    margin: 23px 0px 7px 0px;
}

footer .livraison aside {
    margin: auto;
}

footer .livraison-icone figure {
    text-align: center;
}

footer .livraison-icone figure img:first-child {
    margin-right: 20px;
}

footer .coordonnees {
    background-image: url('../images/carte_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 109px;
    text-align: center;
    margin-bottom: 25px;
}

footer .coordonnees h2,
footer .support h2,
footer .social h2 {
    margin: 0 0 5px 0;
}

footer .social h2 {
    margin: 0 0 15px 0;
}

footer .social a {
    text-decoration: none;
}

footer .social,
footer .support {
    text-align: center;
    margin-bottom: 25px;
}

footer .coordonnees p,
footer .support p {
    line-height: 2.2rem;
}

footer p .contact {
    font-size: 2rem;
}

footer .copyright p {
    font-size: 1.3rem;
    text-align: center;
}

footer .copyright p a {
    color: #33903A;
    text-decoration: none;
    font-size: 1.3rem;
    ;
}

footer .copyright p a:hover {
    text-decoration: underline;
}


/*************************************
******* Présentation accueil *********
*************************************/

.presentation {
    color: #33903A;
    margin-bottom: 3rem;
}

.presentation h1 {
    margin-bottom: 1rem;
}

.presentation div {
    background-image: url('../images/mouettes.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 10rem;
}

.presentation div p {
    line-height: 3.4rem;
    font-size: 2.2rem;
}

.presentation div a {
    color: #FFF;
    padding: 2rem;
    margin-top: 45px;
    border: 0px;
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #3BB44A;
    background: #3BB44A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3BB44A 0%, #33903A 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3BB44A 0%, #33903A 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3BB44A 0%, #33903A 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3BB44A', endColorstr='#33903A', GradientType=0);
    /* IE6-9 */
}

.presentation div a:hover {
    background: #FFF;
    border: 1px solid #3BB44A;
    color: #3BB44A;
}

.photo-presentation {
    vertical-align: top;
}

.photo-presentation img {
    width: 100%
}


/*************************************
******* Produit Accueil ***********
*************************************/

.produit {
    margin-bottom: 32px;
}

.produit a {
    line-height: 0;
    font-size: 0;
}

.produit:first-child div:first-child {
    border-radius: 12px 0 0 0;
}

.produit:nth-child(2) div:first-child {
    border-radius: 0 12px 0 0;
}

.produit:nth-child(4) .produit-nom {
    border-radius: 0 0 0 12px;
}

.produit:nth-child(5) .produit-nom {
    border-radius: 0 0 12px 0;
}

.produit img {
    width: 100%;
}

.produit a {
    cursor: pointer;
    text-decoration: none;
}

.produit a:hover h1,
.produit a:hover h2 {
    text-decoration: underline;
}

.produit h1 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.produit h2 {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Lato';
    font-weight: 300;
}

.produit div h2 {
    text-align: center;
    margin: 0px 0px 7px 0px;
    color: #FFF;
}

.produit .produit-nom {
    height: 115px;
    padding-top: 30px;
    background-image: url('../images/bois_produit_2.jpg');
    background-repeat: repeat-x;
}

.produit div p {
    font-family: 'Lato', serif;
    text-align: center;
    margin: 0px 0px 23px 0px;
    font-size: 2rem;
}

.produit div img {
    width: 100%;
}

.produit-titre {
    background-image: url('../images/motif_corde_marron.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 42px;
}

.produit-titre h1 {
    text-align: center;
    padding-bottom: 23px;
}


/*************************************
******* Bloc renseignement ***********
*************************************/

.style7 {
    position: fixed;
    background-color: black;
    top: 137px;
    opacity: 0.9;
    z-index: 7;
    text-align: center;
    padding: 23px 0px;
    display: none;
}

.style7 h1,
.style7 p {
    font-size: 1.5rem;
    color: white;
}

.style7 button {
    background-color: #54a0d1;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin: 23px 0px;
}


/*************************************
******* Séparateur corde ***********
*************************************/

.separateur {
    margin: 10px 0 35px 0;
    background-image: url('../images/motif_corde.svg');
    background-repeat: repeat-x;
    height: 8px;
}


/*************************************
******* Bloc priorité accueil ********
*************************************/

.priorite {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #33903A;
    background-image: url('../images/priorite_environnement_bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0 3rem 0;
    text-align: center;
}

.priorite h1 {
    color: #FFF;
}

.priorite article div h2 {
    color: #FFF;
}

.priorite article div p {
    color: #FFF;
    margin-bottom: 2rem;
}

.priorite .ancre {
    height: 40px;
    background-image: url('../images/ancre_blanche.png');
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 2;
    margin-bottom: 15px;
}

.priorite .ancre hr {
    color: #FFF;
    border: 1px solid #FFF;
    z-index: 0;
    position: relative;
    top: 20px;
}


/*************************************
******* Header ***********************
*************************************/

.top-header {
    background-color: #33903a;
    padding: 5px 0;
}

.top-header p {
    color: #FFF;
}

.top-header a {
    color: #FFF;
    text-decoration: none;
}

.top-header a:hover {
    text-decoration: underline;
}

.top-header .renseignement-email {
    text-align: center;
}

.top-header .renseignement-telephone {
    text-align: center;
}

header {
    margin-bottom: 30px;
    margin-top: 10px;
}

header nav {
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

header nav ul li a {
    font-family: 'Montserrat', serif;
    font-size: 2.5rem;
    color: #33903A;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 0;
}

header nav ul li:hover a {
    color: #FFF;
    font-weight: 500;
}

header nav ul li:hover {
    background-color: #33903a;
    ;
}

header #telephone p {
    text-align: center;
}

header #telephone p strong {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
}

.menu-profil ul li {
    display: inline-block;
    padding: 0 15px;
}

.menu-profil ul li a img {
    display: inline-block;
    margin-bottom: 13px;
}

.menu-profil ul li a {
    text-decoration: none;
    font-size: 2em;
    line-height: 0;
    text-align: center;
    display: inline-block;
}


/*************************************
******* Slider Accueil ***************
*************************************/

.bx-wrapper {
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin-bottom: 27px !important;
}

#slider-container-home {
    margin-bottom: 50px;
    /*min-height:340px;*/
    text-align: right;
}

#slider-container {
    min-height: 340px;
    text-align: right;
}

.slide-shadow {
    margin-bottom: 50px;
}

.slide-shadow img {
    width: 100%;
}

#slider-container .slider-titre {
    position: relative;
}

#slider-container h1 {
    background-color: #33903A;
    color: #fff;
    padding: 20px 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.8pt;
    position: absolute;
    right: 0px;
    top: 60px;
}

#slider-container h2 {
    background-color: #fff;
    color: #33903A;
    padding: 12px 30px;
    display: inline-block;
    font-weight: 300;
    font-size: 3.1rem;
    letter-spacing: 0pt;
    line-height: 3.3rem;
    position: absolute;
    right: 0px;
    top: 155px;
}

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
    position: relative;
}


/*************************************
******* Header fixe ***********
*************************************/

.vapowax_slide,
.Gustocoffee_slide,
.enzylight_slide,
.enzymax_slide {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}


/*************************************
******* Contenu du slider ***********
*************************************/

#Gustocoffee-slide .marque {
    font-family: 'Montserrat', serif;
    font-size: 4em;
    color: #2e5971;
}

#Gustocoffee-slide .marque2 {
    font-family: 'Montserrat', serif;
    font-size: 4em;
    color: #2e5971;
}

#Gustocoffee-slide .formule {
    font-family: 'Montserrat', serif;
    font-size: 3em;
    color: #c4a981;
}

.buttonslide:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#Gustocoffee-slide .buttonslide {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
}

#Gustocoffee-slide .titre {
    font-family: 'Montserrat', serif;
    font-size: 4em;
    color: #FFF;
}

#Gustocoffee-slide .sous-titre {
    font-family: 'Montserrat', serif;
    font-size: 3em;
    color: #FFF;
}

#Gustocoffee-slide .plaquette {
    font-family: 'Montserrat', serif;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #3BB44A;
    background: -moz-linear-gradient(top, #3BB44A 0%, #33903A 99%);
    background: -webkit-linear-gradient(top, #3BB44A 0%, #33903A 99%);
    background: linear-gradient(to bottom, #3BB44A 0%, #33903A 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3BB44A', endColorstr='#33903A', GradientType=0);
}

#Gustocoffee-slide .plaquette:hover {
    color: #33903A;
    background: #fff;
}


/*************************************
******* élément bug mobile ***********
*************************************/

@media (max-width: 767px) {
    .livraison-icone {
        display: none;
    }
    .profil-form label {
        text-align: left !important;
    }
}


/*************************************
******* Page contact *****************
*************************************/

.contact {
    margin: 2rem 0;
}

.contact h1 {
    text-align: center;
    margin: 0 0 3rem 0;
}

.contact p {
    text-align: center;
    margin-bottom: 5rem;
}

label {
    font-family: 'Lato', 'sans-serif';
    font-size: 2.2rem;
    color: #33903A;
    margin-bottom: 7px;
}

input,
textarea,
select {
    color: #1d3848;
    font-size: 2rem;
    border: 1px solid #e1e1e1;
    background-color: #f8f8f8;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 13px;
    border-radius: 2px;
}

.contact-button {
    background-color: #33903A;
    color: #fff;
    border: 1px solid #33903A;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Lato', serif;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.contact-button:hover {
    background-color: #fff;
    color: #33903A;
    border: 1px solid #33903A;
}

.contact-information address {
    margin-bottom: 2rem;
}

.contact-information h2 {
    font-size: 3rem;
    color: #54a0d1;
    margin-bottom: 1rem;
}

.contact-information p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.contact-form,
.contact-information {
    margin-bottom: 4rem;
}

.has-error {
    border-color: #d9534f;
}

.text-danger {
    color: #d9534f;
}

.alert {
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.5rem;
    font-family: 'Lato', serif;
    line-height: 2.5rem;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert strong {
    font-weight: bold;
}


/*************************************
******* Page produit détail **********
*************************************/

.produit-container .produit-image {
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #f1f1f1;
    padding: 10px 10px 10px 10px;
}

.produit-container .produit-image img {
    max-width: 100%;
    height: auto;
}

.produit-container article h1 {
    margin: 0 0 7px 0;
}

.produit-container article h2 {
    margin: 0 0 30px 0;
}

.pictogramme-container {
    margin-top: 25px;
    background-color: #f1f1f1;
    border-left: 10px solid #33903A;
    padding: 20px 0 0 0;
}

.pictogramme-item {
    color: #33903A;
    font-family: 'Lato';
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 4rem;
}

.pictogramme-item img {
    width: 20%;
}

.video-container {
    margin-top: 50px;
}

.video-container article {
    text-align: center;
    margin-bottom: 3rem;
}

.video-container .video {
    max-width: 100%;
    height: auto;
}

.separateur-sidebar {
    margin: 10px 0 10px 0;
    background-image: url('../images/motif_corde.svg');
    background-repeat: repeat-x;
    height: 8px;
}


/*************************************
******* Bloc nos revendeurs **********
*************************************/

.revendeur-container {
    margin: 50px 0 0 0;
    background-image: url('../images/nos_revendeurs.jpg');
    min-height: 180px;
    display: flex;
}

.revendeur-container .revendeur-content {
    color: #fff;
    margin: auto;
    border-left: 5px solid #e9eaee;
}

.revendeur-container .revendeur-content h1 {
    margin: 0 0 10px 0;
}

.revendeur-container .revendeur-content h2 {
    line-height: 1.3em;
}

.revendeur-container .revendeur-image {
    margin: auto;
}

.corde-container img {
    max-width: 100%;
    height: auto;
}


/*******************************
****** Sidebar page produit ****
*******************************/

.sidebar {
    font-family: 'Lato';
    margin-bottom: 50px;
}

.sidebar h1,
.sidebar h2 {
    text-align: right;
}

.sidebar span {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3rem;
    text-align: right;
}

.sidebar p {
    margin-bottom: 1.8rem;
}

.sidebar .panier-button {
    text-align: center;
    background-color: #c4a981;
    color: #FFF;
    border: 1px solid #c4a981;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.sidebar .panier-button:hover {
    background-color: #fff;
    color: #c4a981;
    border: 1px solid #c4a981;
}

.technique h2,
.utilisation h2 {
    text-align: left;
    letter-spacing: 0.3pt;
    line-height: 3rem;
    font-size: 2.8rem;
}

.utilisation ul li {
    list-style: none;
    padding: 10px 0;
}

.utilisation ul li p {
    font-size: 2rem;
}

.utilisation img {
    width: 30%;
}

.technique {
    margin-bottom: 4rem;
}

.technique li {
    font-size: 2rem;
    padding: 10px 0 10px 36px;
    background-image: url('../images/leaf-item-marron.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.fiche {
    margin-top: 40px;
}

.fiche a {
    display: block;
    border: none;
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #33903A;
    border: 1px solid #33903A;
}

.fiche a:hover {
    color: #33903A;
    background-color: #fff;
    border: 1px solid #33903A;
}

#add-product {
    margin-top: 23px;
}

#add-product input[type=submit] {
    background-color: #c4a981;
    border: none;
    margin-right: 0;
    color: #FFF;
}

#add-product input[type=number] {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
    height: 44px;
    width: 58px;
    color: #1d3848;
}


/*************************************
******* Mentions légales *************
*************************************/

.mentions-legales h1 {
    background-image: url('../images/motif_corde_marron.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 42px;
}

.mentions-legales p {
    margin-bottom: 4rem;
}

.mentions-legales strong {
    font-weight: bold;
}

.mentions-legales strong a {
    color: #33903A;
}

.mentions-legales .color {
    color: #54a0d1;
}

.mentions-legales a {
    text-decoration: none;
}

.mentions-legales a:hover {
    text-decoration: underline;
}


/*************************************
******* Liste des produits ***********
*************************************/

.produit-liste .produit {
    background-color: #4a7086;
    background-image: url('../images/cover_produit_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    border-radius: 15px;
}

.produit-liste section aside {
    text-align: center;
    padding: 5rem 0;
}

.produit-liste section aside img {
    max-width: 107px;
}

.produit-liste .produit h1 {
    color: #FFF;
    margin-bottom: 1rem;
}

.produit-liste .produit h2 {
    color: #FFF;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: 'Lato', serif;
}

.produit-liste .produit p {
    color: #FFF;
    font-family: 'Lato', serif;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.produit-liste .produit a {
    display: inline-block;
    background-color: #c4a981;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 2rem 5rem;
    border-radius: 10px;
    font-size: 2rem;
}

.produit-liste .produit a:hover {
    text-decoration: underline;
}


/*
.list-product:nth-child(odd) {
	background-color: #33903A;
    padding:50px 0;
}

.list-product:nth-child(even) {
	background-color: #dadada;
    padding:50px 0;
}*/


/*.blue-product {
    background-color: #33903A;
    padding:50px 0;
}*/


/*.grey-product {
    background-color: #dadada;
    padding:50px 0;
}*/

.blue-product article {
    border-left: 1px solid #FFF;
    margin-bottom: 3rem;
}

.blue-product h1 {
    color: #FFF;
    margin-bottom: 3px;
}

.blue-product h2 {
    color: #FFF;
    font-weight: 300;
    font-size: 2.3rem;
    ;
}

.blue-product p {
    color: #FFF;
    font-size: 1.9rem;
}

.grey-product article {
    border-left: 1px solid #33903A;
    margin-bottom: 3rem;
}

.grey-product h1 {
    color: #33903A;
    margin-bottom: 3px;
}

.grey-product h2 {
    color: #33903A;
    font-weight: 300;
    font-size: 2.3rem;
    ;
}

.grey-product p {
    color: #33903A;
    font-size: 1.9rem;
}

.product aside:first-child {
    text-align: center;
}

.blue-product a {
    display: inline-block;
    background-color: #FFF;
    color: #33903A;
    padding: 12px 25px 12px 50px;
    border-radius: 50px;
    border: 1px solid #33903A;
    background-image: url('../images/round_button.png');
    background-repeat: no-repeat;
    background-position: 4% 50%;
    text-decoration: none;
    margin-top: 3rem;
}

.blue-product a:hover {
    background-color: #33903A;
    border: 1px solid #FFF;
    color: #FFF;
}

.grey-product a {
    display: inline-block;
    background-color: #33903A;
    color: #FFF;
    padding: 12px 25px 12px 50px;
    border-radius: 50px;
    border: 1px solid #33903A;
    background-image: url('../images/round_button_white.png');
    background-repeat: no-repeat;
    background-position: 4% 50%;
    text-decoration: none;
    margin-top: 3rem;
}

.grey-product a:hover {
    background-color: #FFF;
    border: 1px solid #33903A;
    color: #33903A;
}

.list-product {
    background-size: cover;
    background-repeat: no-repeat;
}

.list-product:nth-child(3) {
    background-image: url('../images/list-product-one.jpg');
}

.list-product:nth-child(4) {
    background-image: url('../images/list-product-two.jpg');
}

.list-product:nth-child(5) {
    background-image: url('../images/list-product-one.jpg');
}

.list-product:last-child {
    background-image: url('../images/list-product-two.jpg');
}


/*
.list-product-one {
	background-image: url('../images/list-product-one.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.list-product-two {
	background-image: url('../images/list-product-two.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.list-product-three {
	background-image: url('../images/list-product-one.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.list-product-four {
	background-image: url('../images/list-product-two.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom:50px;
}
*/

.product .list {
    font-size: 2.2rem;
    font-family: 'Lato', 'sans-serif';
}

.product .blue-list ul li {
    margin-bottom: 30px;
    padding: 10px 0 10px 36px;
    background-image: url('../images/leaf-item-blanc.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.product .grey-list ul,
.product .blue-list ul {
    padding-top: 50px;
}

.product .grey-list ul li {
    margin-bottom: 30px;
    padding: 10px 0 10px 36px;
    background-image: url('../images/leaf-item.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.product .blue-list {
    color: #FFF;
}

.product .grey-list {
    color: #33903A;
}

.product .product-img {
    margin-bottom: 2rem;
}

.produit-container article p {
    font-size: 1.9rem;
}

.produit-container article h2 {
    font-size: 2.2rem;
}

.pictogramme-item span {
    font-size: 2rem;
    font-family: 'Lato', 'sans-serif';
}


/* Autre */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

table.commande {
    font-size: 2.2rem;
}

.style10 {
    font-size: 2.2rem;
    text-align: center;
    padding: 10px 0 0 0;
}


/* Profil */

.titre {
    margin-bottom: 20px;
}

.titre .ancre {
    height: 40px;
    background-image: url('../images/ancre.png');
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 2;
    margin-bottom: 15px;
}

.titre .ancre hr {
    color: #33903A;
    border: 1px solid #33903A;
    z-index: 0;
    position: relative;
    top: 20px;
}

.sidebar-left {}

.sidebar-left h2 {
    background-image: url('../images/motif_corde_marron.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    font-size: 2.4rem;
}

.sidebar-left ul li {
    padding: 5px 0;
}

.sidebar-left ul li a {
    font-size: 1.9rem;
    text-decoration: none;
}

.sidebar-left ul li a:hover {
    text-decoration: underline;
}

.profil-form legend,
.profil-table h2 {
    color: #fff !important;
    background-color: #33903A;
    padding: 12px 10px;
    font-size: 2rem;
    font-family: 'Lato', 'sans-serif';
    margin-bottom: 25px;
}

.profil-form fieldset {
    border: 1px solid #dadada;
    margin-bottom: 20px;
    padding: 20px 0;
}

.profil-form fieldset legend {
    color: #33903A;
    background-color: #dadada;
    padding: 12px 10px;
    font-size: 2rem;
    font-family: 'Lato', 'sans-serif';
    margin-bottom: 25px;
    text-align: center;
}

.profil-form input,
.profil-form select {
    margin-top: 0;
    margin-bottom: 20px;
}

.profil-form label {
    font-size: 2rem;
    text-align: right;
}

.profil-form p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.profil-table table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.profil-table table thead {
    vertical-align: middle;
    background-color: #dadada;
}

.profil-table table thead tr th {
    padding: 10px 0;
    font-family: 'Lato', 'sans-serif';
    font-size: 1.8rem;
    text-align: center;
}

.profil-table table tbody tr td {
    padding: 20px 10px;
    font-family: 'Lato', 'sans-serif';
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
}

.profil-table table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.profil-container {
    margin-bottom: 50px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.panier {
    position: fixed;
    background-color: white;
    right: 60px;
    z-index: 100;
}

.panierEtat {
    display: none;
}

#codeigniter_profiler {
    font-size: 3rem;
}
.reduction {
    padding: 5px 10px;
    border: 1px solid #33903A;
    text-transform: uppercase;
}